{% extends "base.html" %}

{% block page_content %}
<div class="page-header" xmlns="http://www.w3.org/1999/html">
 <h1>Login</h1>
</div>
    <form action="/cmdb/login/" method="post">
    {% csrf_token %}
	{{ form.username.label_tag }}<span style="color: red">{{ form.username.errors }} {{ error1 }}</span><br>
	{{ form.username }}<br>
	{{ form.password.label_tag }}<span style="color: red">{{ form.password.errors }} {{ error2 }}</span><br>
	{{ form.password }}<br><br>
    <input type="submit" class="btn btn-info" value="登录">
    </form>

{% endblock %}
